<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <!-- <i class="bi bi-list" (click)="menuicon()"></i> {{message}} <button (click)="newMessage()">New Message</button> -->

        <i class="bi bi-list" (click)="newMessage()"></i>

        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <div class="navbar-nav flex-grow">
                    <div class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </div>
                    <div class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-divnk text-dark" [routerLink]="['/counter']">Counter</a >
          </div>
          <div class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <!-- <div class="menu">
            <i class="bi bi-arrow-right" (click)="menuicon(navMenu = !navMenu)"></i> // <i class="fas fa-bars" (click)="navMenu = !navMenu"></i>
        </div> -->




    <!--
       <div class="sidebar" [ngClass]="isExpand ? 'sidebar_exp':'sidebar'">
            <app-sidebar [expand]="isExpand"></app-sidebar>
        </div>
        <div class="mainbar" [ngClass]="isExpand ? 'mainbar_exp':'mainbar'">
            <div class="col-md-12 topbar">
              <i *ngIf="!isExpand" class="fa fa-align-justify" (click)="slidebarExpand()"></i>
              <i *ngIf="isExpand" class="fa fa-ellipsis-v" (click)="slidebarExpand()"></i>
            </div>
            <router-outlet></router-outlet>
        </div>  -->



    <div class="menu" [ngClass]="message ? 'leftpanel_exp':'leftpanel'">
        <app-leftpanel></app-leftpanel>
    </div>

    <div [ngClass]="!message ? 'mainbar_exp':'mainbar'">
        <app-rightpanel></app-rightpanel>
    </div>

</header>